#view_item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#view_item > .view_item_img {
    width: 204px;
    height: 204px;
    border: solid 1px #000;
    border-radius: 10px;
    margin: 0 auto;
    transition: transform .5s ease-in-out;
    cursor: pointer;
}

.view_item_img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.view_item_info {
    text-align: center;
    margin: 30px 0 30px 0;
    width: 60%;
}

.btn_to_basket {
    padding: 10px 20px 10px 20px;
    background-color: rgba(64, 182, 64, 0.582);
    color: #FFF;
    border: none;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}

.btn_to_basket:hover {
    background-color: rgba(64, 182, 64, 1);
}

.view_item_sizes li {
    float: left;
    list-style: none;
    padding: 10px 15px 10px 15px;
    background-color: rgba(179, 152, 237, 0.50);
    margin: 10px;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
    color: rgba( 255, 255, 255, 0.50 );
}

.view_item_sizes li:hover {
    background-color: rgba(179, 152, 237, 1);
    color: #FFF;
}